{% extends "notes/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    {% if request.user.is_authenticated %}
        <h2>{{ user.username }}'s notes</h2>
    {% else %}
        <h2>Notes</h2>
    {% endif %}

    <a href="{% url 'note-create' %}" class="btn btn-lg btn-success mb-3 mt-3">Add a new note</a>

    <div>
        <form method="GET">
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <br>

    {% for note in notes %}
    <div class="row mt-2">
        <h5><a href="{% url 'note-detail' note.pk %}">{{ note.title }}</a></h5>
        <p>{{ note.preview_content }}</p>
        <p class="text-secondary"><i><span>Created on {{ note.created }}</span> | <span>Modified on {{ note.modified }}</span></i></p>
    </div>
    {% endfor %}
</div>
{% endblock %}
